name: Python tests

on:
  push:
    branches: [latest]
  pull_request:
    branches: [latest]
  schedule:
    - cron: "0 0 * * *" # daily

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-18.04, macos-latest]
        py: ["3.10", 3.9, 3.8]
      fail-fast: false

    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Set up Python ${{ matrix.py }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.py }}

      - name: Get pip cache dir
        id: pip-cache
        run: |
          echo "::set-output name=dir::$(pip cache dir)"

      - name: pip cache
        uses: actions/cache@v3
        with:
          path: ${{ steps.pip-cache.outputs.dir }}
          key: ${{ runner.os }}-pip-${{ hashFiles('**/setup.py') }}
          restore-keys: |
            ${{ runner.os }}-pip-

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install tox tox-gh-actions

      - name: tox cache
        uses: actions/cache@v3
        with:
          path: .tox/
          key: ${{ runner.os }}-tox-${{ hashFiles('**/setup.py') }}
          restore-keys: |
            ${{ runner.os }}-tox-

      - name: Test with tox
        run: tox
        env:
          PYTHONDEVMODE: 1
